.roadmap-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.actions-wrapper {
    flex: 0 0px;
    display: flex;
    flex-direction: column;
}
.action {
    margin: .8em;
    background-color: #F4F5F7;
    padding: .5em;
    border-radius: .5em;
}
.action-header {
    font-weight: bold;
    display: block;
    cursor: pointer;
}
.roadmap-body .action-header:hover {
    margin-bottom: 1em;
}
.action-body {
    padding: .5em;
    overflow: hidden;
    height: auto;
    transition: height 200ms ease-out;
}
.action-body.collapsed {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.unassigned-actions {
    margin-top: 5em;
    margin-bottom: 10em;
}
.unassigned-actions .title {
    font-size: 1.7em;
}