body {
    background: white;
    padding-top: 5em;
}

.activity-cont, .action-cont, .tasks-cont {
    background: #F4F5F7;
}

.activity-view {
    overflow-x: scroll;
    margin-bottom: 5em;
}

.activity-view th, .activity-view td {
    padding: .5em;
    vertical-align: top;
}

.activity-view tbody td {
    border-top: rgba(0, 0, 0, .1) dashed 1px;
}
.activity-view tbody tr:first-child td {
    border-top: transparent;
}

.persona-card {
    width: 10em;
    padding: 1em;
    background: #F4F5F7;
    text-align: center;
    border-radius: 2em;
}
.persona-card .persona-photo {
    font-size: 5em;
}
.persona-card .persona-name {
    font-size: 1.5em;
}

th.activity-cont {
    vertical-align: bottom;
    text-align: left;
    padding-left: 2em;
}

.story-card {
    width: 20em;
    padding: .8em;
    margin: .5em 0;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
    background: white;
}

.card-stats {
    display: flex;
    margin-top: .5em;
}
.card-stat-left {
    flex: 1 0 auto;
}
.card-stat-right {
    flex: 1 1 auto;
    flex-direction: row-reverse;
    display: flex;
}
.story-key {
    font-size: .8em;
    opacity: .8;
}

th.milestone-cont {
    vertical-align: top;
    text-align: right;
    padding: 2em 1em;
    /* border-right: rgba(93, 133, 204, .5) solid 3px; */
}