{% macro story(issue) -%}
    <a href="{{issue['link']}}" target="_blank" class="story-card card_{{issue['key']}}" issue-status="{{issue['status']}}">
        <section class="story-summary">
            {{issue['summary']}}
        </section>
        <section class="card-stats">
            <div class="card-stat-left">
                <!--<span class="ghx-field ghx-field-icon" data-tooltip="Medium priority">-->
                    <!--<img src="https://7sensing.atlassian.net/images/icons/priorities/medium.svg">-->
                <!--</span>-->
                <!--<span class="ghx-field">-->
                    <!--<aui-badge class="ghx-estimate" data-tooltip="5 Story Points">5</aui-badge>-->
                <!--</span>-->
            </div>
            <div class="card-stat-right">
                <span class="story-key">{{issue['key']}}</span>
            </div>
        </section>
    </a>
{%- endmacro %}