<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="static/usma.css">
  <link rel="stylesheet" href="static/roadmap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>

  {% import 'cards.html' as cards %}

  <div class="container-fluid roadmap-view">
    <div class="timescale">
      <!--milestones will go here, i think-->
    </div>
    <div class="roadmap-body">
      {% for milestone, actions in milestones %}
        <div class="actions-wrapper">
          <div class="milestone">{{milestone}}</div>
          {% for _, action in actions.iteritems() %}
          <div class="action"
               style="background: linear-gradient(to right, #b3efb3 {{action['done']}}%, #c4dafb {{action['done']}}%, #acceff {{action['done']+action['inprogress']}}%, #f4f5f7 {{action['done']+action['inprogress']}}%)">
            <a class="action-header">{{action['summary']}}</a>
            <div class="action-body">
              {% for story in action['stories'] %}
                {{ cards.story(story) }}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container unassigned-actions">
    <h1 class="title">Unassigned actions</h1>
    <div class="row">
    {% for action in unassigned_actions %}
      <div class="action col-2">
        <div class="action-header">{{action}}</div>
      </div>
    {% endfor %}
    </div>
  </div>

  <script>
    $( document ).ready(function() {
      $('.action-header').on('click', function(){
        $(this).parent().find('.action-body').toggleClass('collapsed')
      });
    });
  </script>
</body>
