<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="static/usma.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>

  {% import 'cards.html' as cards %}

  {% for persona, activities in actions_model.iteritems() %}
  {% for activity, actions in activities.iteritems() %}
  <div class="container-fluid activity-view">
    <table>
      <thead>
      <tr>
        <th class="persona-cont" rowspan="2">
          <div class="persona-card">
            <div class="persona-photo"><i class="fas fa-user-tie"></i></div>
            <div class="persona-name">{{persona}}</div>
          </div>
        </th>
        <th class="activity-cont" colspan="{{actions|length}}">
          <h2>{{activity}}</h2>
        </th>
      </tr>
      <tr>
        {% for action in actions %}
        <th class="action-cont">
          {{ cards.story(action['key'], action['summary']) }}
        </th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for milestone in milestones %}
      <tr>
        <th class="milestone-cont">
          {% if milestone is not none %}
            {{milestone}}
          {% else %}
            (no milestone)
          {% endif %}
        </th>
        {% for action in actions %}
        <td class="tasks-cont">
          {% for s in stories_model[action['key']][milestone] %}
          {{ cards.story(s['key'], s['summary']) }}
          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
  {% endfor %}
</body>
