<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="static/usma.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>

  {% import 'cards.html' as cards %}

  <div class="container">
    <div class="btn-group" id="milestone-filter" role="group" aria-label="Milestone filter">
        {% for milestone in milestones %}
        <button type="button" class="btn btn-info active" data-toggle="button" aria-pressed="true"
                data-milestone="{{milestone}}">
          {{milestone}}
        </button>
        {% endfor %}
    </div>
  </div>

  {% for persona, activities in actions_model.iteritems() %}
  {% for activity, actions in activities.iteritems() %}
  <div class="container-fluid activity-view activity_{{persona}}_{{activity}}">
    <table>
      <thead>
      <tr>
        <th class="persona-cont" rowspan="2">
          <div class="persona-card">
            <div class="persona-photo">
                <img src="{{persona_images[persona]}}" width="100%"/>
            </div>
            <div class="persona-name">{{persona}}</div>
          </div>
        </th>
        <th class="activity-cont" colspan="{{actions|length}}">
          <div class="activity-wrapper">
            <h2>{{activity}}</h2>
            <div class="activity-tools">
              <button type="button" class="btn btn-outline-secondary invisible"
                      data-toggle="modal"
                      data-target="#reorderActionsModal"
                      data-activity="activity_{{persona}}_{{activity}}">
                <i class="fas fa-arrows-alt-h"></i>
              </button>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        {% for action in actions %}
        <th class="action-cont">
          {{ cards.story(action) }}
        </th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for milestone in milestones %}
      <tr class="milestone-swimlane" data-milestone="{{milestone}}">
        <th class="milestone-cont">
          {% if milestone is not none %}
            {{milestone}}
          {% else %}
            (no milestone)
          {% endif %}
        </th>
        {% for action in actions %}
        <td class="tasks-cont">
          {% for s in stories_model[action['key']][milestone] %}
          {{ cards.story(s) }}
          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
  {% endfor %}

  <!-- Modal -->
  <div class="modal fade" id="reorderActionsModal" tabindex="-1" role="dialog" aria-labelledby="reorderActionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rearrange actions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" disabled>Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#reorderActionsModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var container_activity = button.data('activity') // Extract info from data-* attributes
      var modal = $(this)

      // fetch actions
      var actions_el = $(`.${container_activity} .action-cont .story-card`);
      console.log(container_activity);
      console.log(actions_el);

      // set up the layout
      modal.find('.modal-body').html(null).append(actions_el.clone());
      modal.find('.story-card').wrap('<div class="card-modal-wrapper"></div>')
      modal.find('.card-modal-wrapper').each(function(ind, el){
        $(el).css('order', ind)
      });
      modal.find('.card-modal-wrapper').append('<div class="card-reorder-tools"></div>');

      // set up tools
      function move(what, howmuch) {
        var wrapper = $(what).parents('.card-modal-wrapper');
        var wrapper_order = parseInt(wrapper.css('order'));
        var other_order = wrapper_order + howmuch;
        var other = modal.find('.card-modal-wrapper').filter(function(){return $(this).css('order') == `${other_order}`;})

        min_order = 0;
        max_order = modal.find('.card-modal-wrapper').length - 1;
        if(wrapper_order < min_order || wrapper_order > max_order)
          return;
        if(other_order < min_order || other_order > max_order)
          return;

        console.log('WRAPPER:', wrapper_order, wrapper);
        console.log('OTHER:', other_order, other);

        other.css('order', wrapper_order);
        wrapper.css('order', other_order);
      }
      function moveUp() {
        console.log('UP', this);
        move(this, -1);
      }
      function moveDown() {
        console.log('DOWN', this);
        move(this, 1);
      }
      modal.find('.card-reorder-tools').append([
        $('<button type="button" class="btn btn-outline-secondary btn-reorder-up"><i class="fas fa-arrow-up"></i></button>').click(moveUp),
        $('<button type="button" class="btn btn-outline-secondary btn-reorder-down"><i class="fas fa-arrow-down"></i></button>').click(moveDown)
      ]);
    })

    $('#milestone-filter button').on('click', function(){
      // who's calling?
      var milestone = $(this).attr('data-milestone');
      console.log('Selecting milestone', milestone);

      // toggle swimlanes
      $(`.milestone-swimlane[data-milestone="${milestone}"]`).toggle();

      // remember
      localStorage.setItem(`filter-${milestone}`, !$(this).hasClass('active'));
    });

    $( document ).ready(function() {
      $('#milestone-filter button').each(function(){
        // recall state
        var milestone = $(this).attr('data-milestone');
        var active = localStorage.getItem(`filter-${milestone}`);
        if(active)
          active = (active == 'true');
        else
          active = $(this).hasClass('active');
        console.log(`Milestone ${milestone} should be ${active ? 'checked' : 'unchecked'}`);

        // apply
        if(!active && $(this).hasClass('active'))
          $(this).click();
        else if(active && !$(this).hasClass('active'))
          $(this).click();
      });
    });
  </script>
</body>
